@import "../../css/global.css";
@import "../../pages/index/whoWeAre.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 10px #000000;
  background-color: #2e2f34;
}
#top {
  background-color: var(--cinza-2);
  box-shadow: 1px 1px 3px rgb(97, 97, 97);
}
#first-page {
  min-height: 84.5dvh;
  display: flex;
  flex-direction: row;
}
#first-page::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100.1%;
  height: 100%;
  box-shadow: 1px 1px 9px rgb(97, 97, 97);
}

#center-balloon {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #2b2b31;
  position: absolute;
  flex-direction: column;
  left: 32.5vw;
  top: 25dvh;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}
#center-balloon .text-balloon:first-of-type {
  margin-top: 2.8dvh;
}
.text-balloon {
  color: transparent;
  text-indent: 10px;
  transition: color 0.3s ease-in;
  overflow: hidden;
  white-space: nowrap;
  transform: translateY(-150px);
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 100;
  text-wrap: wrap;
  flex-wrap: wrap;

  width: 300px;
  height: auto;
  padding: 10px;
  font-family: monospace;
  position: relative;
  display: inline-block;
}
.text-balloon span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.1s;
}

#center-balloon:hover .text-balloon {
  color: #e6eaee; /* Texto visível ao hover */
  width: 90%;
  height: 25px; /* Define a altura final do balão */
}

#logo-balloon {
  width: 20vw;
  position: absolute;
  transform: translateY(12dvh);
  cursor: pointer;
}

#center-balloon:hover {
  border-radius: 5%;
  background-color: #414141;
}
#first-page-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.span-first-page {
  color: rgb(230, 234, 238);
  font-size: 6dvh;
  margin-left: 20%;
  font-family: Merriweather, cursive;
  text-shadow: 3px 1px 1px black;
}
#span-one {
  margin-top: 40%;
}
#span-two {
  text-indent: 20%;
}
#contact-first-page {
  width: 20%;
  height: 6%;
  border-radius: 3px;
  margin-left: 20%;
  margin-top: 3%;
  border: 3px solid #eed16a;
  background-color: #414141;
  color: #fff742;
  transition: border-color 0.3s ease;
}
#contact-first-page:hover {
  text-shadow: 1px 1px 4px #ffe896;
  cursor: pointer;
}
#contact-first-page:active {
  border-color: #966315;
  transition: border-color 0.1s ease;
}
#first-page-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#h6-introduction-first-page-right {
  color: #eed16a;
  font-weight: 100;
  height: 1.3dvh;
  margin-top: 30dvh;
  margin-left: 27%;
  margin-bottom: 10px;
  background-color: #96621500;
  width: 4.3vw;
  position: relative;
  transition: width 2s ease-in-out;
}
#h6-introduction-first-page-right:hover::after,
#h6-introduction-first-page-right:hover::before {
  width: 100%;
}
#h6-introduction-first-page-right::before,
#h6-introduction-first-page-right::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  border-top: 1px dashed #f1c075;
  transition: all 0.3s ease; /* Adiciona uma transição suave */
}

#h6-introduction-first-page-right::before {
  top: -5px; /* Posição da linha superior */
}

#h6-introduction-first-page-right::after {
  bottom: -5px; /* Posição da linha inferior */
}
.span-first-page-right {
  color: rgb(230, 234, 238);
  font-family: Merriweather, cursive;
  font-size: 3.5dvh;
  margin-top: -20px;
  text-align: end;
  margin-right: 40%;
}
#first-span-right {
  margin-top: 5dvh;
}
#p-first-page-right {
  color: #e6eaee;
  width: 38%;
  font-size: 2dvh;
  font-weight: 100;
  margin-left: 26%;
}
#h6-learn-more-first-page-right {
  position: absolute;
  color: #eed16a;
  font-weight: 100;
  font-family: Merriweather, cursive;
  top: 82%;
  left: 76%;
}
#h6-learn-more-first-page-right:hover {
  cursor: pointer;
}
#mascote {
  width: 8vw;
  height: 8vw;
  background-color: #2b2b31;
  border-radius: 50%;
  position: absolute;
  left: 85%;
  top: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}
#mascote:hover {
  background-color: var(--cinza-1);
  cursor: pointer;
  animation: shadowPulse 1s ease-in-out infinite;
}

#img-mascote {
  width: 70%;
}
/*GLOBAL STYLES*/
