@import "../../css/global.css";
/*FONTS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--cinza-3);
}
/*GLOBAL STYLES*/

/*TOP STYLES*/

/*TOP STYLES*/

/*SERVICES PAGE*/
/*SERVICES PAGE*/
/*SERVICES PAGE*/
#services {
  margin: 0 auto;
  height: auto;
  width: 100%;
  margin-top: 2dvh;
  color: var(--claro-7);
}
#services-container {
  border: 1px solid rgba(110, 110, 110, 0.54);
  background-color: var(--cinza-2);
  display: flex;
  margin: 0 auto;
  gap: 30px;
  width: 95%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.services-box {
  display: flex;
  flex-direction: column;
  background-color: var(--cinza-3);
  border-radius: 10px 10px 0 0 ;
  width: 96%;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.services-box::after{
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  height: 1%;
  background-color: var(--cinza-5);;
  border-top: 3px solid var(--cinza-4);
}
.divisor-box {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#first-box {
  margin-top: 2%;
}
#last-box {
  margin-bottom: 2%;
}

.suport-box {
  width: 8vw;
  height: 8vw;
  margin-left: -10%;
  overflow: hidden;
  border-radius: 5px;
}
.img-box {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.img-box:hover {
  transform: scale(120%);
  color: rgb(255, 235, 235);
}

.button-box {
  color: rgb(0, 0, 0);
  height: 5.9dvh;
  margin-left: 90%;
  border-radius: 5px;
  width: 7%;
  border: 2px gray solid;
  cursor: pointer;
  margin-top: -5%;
}
.button-box:hover {
  background-color: var(--claro-7);
}
#h1-services {
  font-family: Merriweather, cursive;
  margin: 0 auto;
  font-size: 3dvh;
  color: var(--claro-7);
  text-shadow: 2px 2px 3px gray;
  width: 60%;
  text-align: center;
  margin-top: 3%;
}

/*SERVICES PAGE*/
/*SERVICES PAGE*/
/*SERVICES PAGE*/
/*SERVICES PAGE*/
